@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	.header-line {
		display: flex;
		justify-content: space-between;
	}
	nav {
		display: flex;
	}

	.navigation-links {
		display: flex;
		gap: 40px;
	}
	.mobile-menu-open {
		display: none;
	}
	.navigation-links .active::after {
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		background-color: var(--hover-link-color); /* change to the desired color */
		margin-top: 5px;
		/* adjust to the desired distance from the link */
		border-radius: 2px;
		position: relative;
		bottom: -17px;
	}
	nav .link.active {
		color: var(--hover-link-color);
	}

	.mobile-menu {
		display: none;
	}
	.customers-list-item {
		width: 168px;
		height: 88px;
		border: 1px solid #8e8f99;
		border-radius: 4px;

		transition-property: color, border-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}
/* 88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.logo-head {
		margin-right: 120px;
	}

	.address {
		font-family: Roboto;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.17;
		letter-spacing: 0.04em;
		text-align: left;
	}
	nav {
		padding-top: 24px;
	}
	.address-link {
		margin: 0;
		padding-top: 14px;
		padding-bottom: 16px;
	}
	.addess-link-item:not(:last-child) {
		margin-bottom: -4px;
	}

	/* ----------------------------------------------------------section 2------------------------------------------------------ */

	.symbol-list-item {
		display: none;
	}
	.title-list h3 {
		font-style: medium;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.11;
		letter-spacing: 0.02em;
		text-align: left;
	}
	.main-paragraph {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.02em;
		text-align: left;
	}
	/* {.section-2
	} */

	.title-list {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
	}
	.title-list-mobile {
		width: 356px;
	}
	.title-list {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	/* _____________________________________________________________________________________________________________________________ */

	/* --------------------------------------------------------------section 4------------------------------------------------------- */
	.card-titles {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;
	}
	.container-fourth-section {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	/* ----------------------section 5----------------------to set three in a row */
	.customers-list {
		width: 552px;
		margin-left: auto;
		margin-right: auto;
	}

	.customers-list-item:hover,
	.customers-list-item:hover .customers-list-link {
		border-color: #404bbf;
		color: #404bbf;
		/* fill: #404bbf; */
	}
	.customers-list-item:focus-within .customers-list-link {
		border-color: #404bbf;
		color: #404bbf;
	}
	.section-fifth {
		padding-top: 96px;
		padding-bottom: 24px;
	}

	/* ______________________________________________________________________ */

	.footer-line {
		padding-left: 108px;
		/* padding-bottom: 108px; */
		display: flex;
		flex-wrap: wrap;
	}
	.logo-and-text {
		margin-right: 24px;
		width: 263px;
		margin-right: 24px;
	}
	.footer-text {
		margin-top: 17px;
		margin-bottom: 72px;
	}

	.social-media-title {
		margin-bottom: 16px;
	}
	.subscribe-title-item {
		margin-left: 24px;
	}
	/* ----------------------------------------------------modal window---------------------------------------------------- */
}
